
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$text-light-grey: #4D4F5C;
$primary-color-1: #F07053;
$primary-color-3: #EB8169;
$primary-color-3: #F3A998;
