
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';


/*-----------------General classes--------------------*/
*{
  box-sizing: border-box;
}

body{
  background-color: #fafafa;

  .bt-primary{
    color: white;
    background-color: $primary-color-1;
    border-color: $primary-color-1;
    padding: 4px 35px;
    border-radius: 20px;
    border-style: solid;
  
   &:hover{
      border-color: $primary-color-1;
      background-color: white;
      color: $primary-color-1;
      transition: 0.2s; 
    } 

  }

  .bt-secondary{
    color: white;
    background-color: transparent;
    padding: 2px 20px;
    border-radius: 20px;
    border: 2px solid white;  

    &:hover{
      border-color: $primary-color-2;
      background-color: white;
      color: $primary-color-1; 
      transition: 0.2s; 
    }
  }

  .--back-color-secondary{
    background-color: $primary-color-2;
  }
  
  .--text-white{
    color: white;
  }

  .--reset-link{
    text-decoration: none;
  }

  .--padding-zero{
    padding: 0;
  }

  .--padding-20{
    padding: 20px;
  }

  .btn-link{
    color: $primary-color-1;
  
    &:hover{
      color: $primary-color-1;
    }
  }
  
  .form-control{
  
    margin-bottom: 10px;
  
    &:focus{
      border-color: $primary-color-3;
      outline: 0;
      box-shadow: 0 0 0 0.2rem #f3a99859;
    }
  }

  .--border-top{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
}
/*----------------End General Classes-------------------*/


/*-----------Auth (login, register, verify, etc)---------*/
.container-full{
  display: flex;
  background-color: white;

  .container-left{
    width: 40%;
    background: linear-gradient(45deg, rgba(239,104,74,1) 0%, rgba(243,169,152,1) 100%);
  }

  .container-right{
    flex-grow: 1;

    .card{
      height: 100vh;
      border: none;

      .card-body{
        flex: none;
        margin-top: auto;
        margin-bottom: auto;

        .login-title{
          margin-bottom: 20px;
        }

        .welcome-message{
          margin-bottom: 30px;
        }

        .forgot{
          padding: 0;
        
          .forgot-pass{
            padding-bottom: 0;
            padding-top: 0;
            float: right;
          }
        }
      }
    }

  }
}
/*--------------End Auth-------------*/


/*-----------Navbar Top-------------*/
.navbar-top{
  background-color: white;
  border-bottom: 1px solid rgba(0,0,0,.0975);
  padding: 0.8rem 1rem;
  height: 70px;

  .container-fluid{
    padding: 15px 40px;

      .ml-auto{

          .dropdown-menu{

            min-width:310px;

            &.show{

              display: flex;
            }
            
            .dropdown-container-left{
              a{
                padding: 0.5rem 1.5rem;

                &:hover{
                  color: $primary-color-1;
                }
              }
            } 

            .dropdown-container-right{

              width: 100%;

              i{
                font-size: 3.5rem;
                color: white;
              }

              p{
                margin: 0;
                margin: 0.5rem 0;
              }

              button{
                margin-top: 0.5rem;
              }
            }
          }
      }
  }

  .navbar-toggler{
    border: none;

    .navbar-toggler-icon{
      transition: 0.2s;
      background-image: url("data:image/svg+xml,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(239, 104, 74, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
    }

    &:focus{
      outline: none;
    }
  }


  .navbar-collapse{
    text-align: right;
  }
}
/*-----------End Navbar Top-------------*/


/*------------Page Content----------*/
.wrapper, .mr-auto{

  display: flex;
  align-items: stretch;
  
    /*--------------SideBar-------------*/
  .sidebar {
    min-width:220px;
    max-width: 220px;
    background: white;
    color: $primary-color-1;
    transition: 0.3s;
    border-right: 1px solid rgba(0,0,0,.0975);
    height: calc(100vh - 70px);

    .fa-warehouse{
      transform: scale(0.8,1);
    }

    .btn-dock{
      padding: 10px 27px;
      display: block;
      margin: 0 auto;
      color: $primary-color-1;
      border:none;
      background-color: unset;
      outline: none;
      position: absolute;
      bottom: 10px;
      left: 140px;
      transition: 0.3s;
    }

    ul.components {
      padding: 20px 0;
    }

    ul{
      ul{
        li{
          a{
            font-size: 0.9em;
            padding: 8px;
            padding-left: 35px;
            background: white;
            margin: 0;
          }
        }  
      }
    }
  
    a[data-toggle="collapse"] {
      position: relative;
    }
  
    .dropdown-toggle {

      margin-bottom: 0;
  
      &:after{
        display: block;
        position: absolute;
        top: 52%;
        right: 20px;
        transform: translateY(-50%);
      }
    }

    ul{
      li{
        a{
          text-align: left;
          padding: 5px 10px;
          margin: 10px 0;
          font-size: 1.1em;
          display: block;
          color: $text-light-grey;
          text-decoration: none;

            &:hover{
              color: $primary-color-1;
              background-color: #f8f9fa;
            }

            i{
              margin-right: 10px;
              display: inline-block;
              line-height: 28px;
              margin-right: 10px;
              width: 16px;
              width: 28px;
              height: 28px;
              text-align: center;
            }

            p{
              display: inline-block;
              margin: 0;
            }
        } 

        &.active>a, a[aria-expanded="true"] {
          color: $primary-color-1;
          background: white;
          border-left: 4px solid $primary-color-1;
          padding-left: 6px;
        }

      }
    }  
  }

  #sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;

    .btn-dock{
      left: 0px;
      transition: 0.3s;
    }

    ul{

      &.components{
        padding: 0;
      }

      li{
        a{
          padding: 15px 10px;
          text-align: center;
          font-size: 0.85em;

          &[aria-expanded="true"]{
            padding-left: 6px;

            &:after{
              margin-right: 2px;
              margin-left: -2px;
            }
          }

          i{
            margin-right: 0;
            display: block;
            font-size: 1.8em;
            margin-bottom: 5px;
            width: unset;
          }

          p{
            display: none;
            transition: 0.3s;
          }
        }
      }

      ul{
        a{
          padding: 10px 0 !important;
        }
      }
    }

    .dropdown-toggle{

      &:after{
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
      }

    }
  }

  
    /*-------------End Sidebar--------------*/

  #content {
    width: 100%;
    padding: 20px;
    min-height: calc(100vh - 70px);
    transition: 0.3s;
    margin-left: 220px;
  }

  #content.mini{
    margin-left: 80px;
  }

}

.mr-auto{
  display: none;
}
/*-----------End Page Content-----------*/















/* ---------------------------------------------------
  MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 767px) {

  .navbar-top{
    height: unset;

    .container-fluid {
      padding: 0px 15px;
    }
  }

  .ml-auto{
    display: none;
  }

  .mr-auto{
    display: block;

    .sidebar{
      width: 100%;
      min-width: unset;
      max-width: unset;
      border: unset;
      height: unset;

      .dropdown-user{
        margin-top: 10px;
      }
    }
  }

  .wrapper{

    #sidebar {
      display: none;
    }

    #content{
      margin-left: unset;

      &.mini{
        margin-left: unset;
      }
    }


  }
}

@media (max-height: 570px) {
  .wrapper{
    .sidebar{

      overflow-y: scroll;
      overflow-x: hidden;

        &.active{
          .btn-dock{
            position: initial;
            padding: 10px 0 20px 0;
          }
        }

      .btn-dock{
        bottom: unset;
        padding: 10px  20px 20px 0px;
        left: unset;
        right: 0;
      }
    }
  }
}