@import 'variables';

.home-title{
    .underline{
        width: 60px;
        float: left;
        height: 3px;
        background-color: #ef684a;
        margin-left: 3.1rem;
    }

    .del-sort{
        position: relative;
        top: 1px;
        left: 2px;
        color: $primary-color-1;
    }
}

.products{
    &.d-flex{
        flex-wrap: wrap;
    }

    .card{
        width: 240px;

        a{
            text-align: center;
        }

        img{
            padding: 5px;
            max-height: 150px;
            max-width: 150px;
        }
    }
    
}

.product{

    .product-left{
        margin: 0 auto;
    }

    .product-right{
        margin: 0 auto;
        margin-top: 5%;
    }
    .product-desc{
        font-size: 1.1em;
    }   

    .product-price{
        font-size: 2.2em;
    }

    .cant-label{
        margin-left: 15px;
    }

    .product-btn{
        margin-top: 2%;
    }

    .product-form{
        margin-top: 6%;

        .product-btn{
            margin-top: 2%;
            padding: 6px 30px;
            font-size: 1.1em;   
        }
    }

    #cantidad-producto{
        margin-left: 15px;
    }


    .also-like{
        margin-top: 5%;

        .d-flex{
            flex-wrap: wrap;   
        }
        
        h3{
            margin: 1% 0;
        }

        .card{

            max-width: 200px;
            margin: 0 auto;

            .card-body{
                padding: 0.6rem;
            }
        }
    }



    @media (min-width: 576px) {
        .product-right{
            margin-top: 0;
        }
    }

    @media (max-width: 460px) {
        .col-6{
            flex: 0 0 100%;
            max-width: 100%;
        }
    }

}

.cart{
    max-width: 550px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.1);

    .cart-row{

        .cart-product-image{
            border: 1px solid rgba(0,0,0,0.1);
            border-radius: 4px;

            img{
                max-height: 110px;
                max-width: 130px;
            }
        }

        .cart-product-name{
           
            a{
                cursor: pointer;
            }

            a:hover{
                text-decoration: none;
            }
        }

        .remove-btn{

            button{
                padding: 0;
                padding-left: 2px;
                margin: 0;
                border: 0;
                background-color: transparent;
                color: $dark-grey;

                &:hover{
                    transition: 0.2s;
                    color: $primary-color-1;
                }
            }
        }
    }

    .totales{
        
        .prices{
            background-color: #f5f5f5;
            display: flex;
            justify-content: flex-end;
        }
    }

}


@media (max-width: 767px) {
    .cart{
        margin: 0 auto;   
    }
}