
@import 'variables';


/*-----------------General classes--------------------*/
*{
  box-sizing: border-box;
}

html{
  font-size: $font-size-base;
}

body{
  overflow-x: hidden;
  background-color: #fafafa;
  font-family: $font-family-sans-serif;
  font-display: swap;

  .bt-primary{
    color: white;
    background-color: $primary-color-1;
    border-color: $primary-color-1;
    padding: 4px 35px;
    border-radius: 20px;
    border-style: solid;
  
   &:hover{
      border-color: $primary-color-1;
      background-color: white;
      color: $primary-color-1;
      transition: 0.2s; 
    } 

  }

  .bt-secondary{
    color: $primary-color-1;
    background-color: transparent;
    padding: 4px 20px;
    border-radius: 20px;
    border: 2px solid $primary-color-1;  

    &:hover{
      background-color: $primary-color-1;
      color: white; 
      transition: 0.2s; 
    }


  }

  .bt-dropdown{

    &:focus{
      box-shadow: 0 0 0 0.1rem #ef684a4f;
      color: $primary-color-1;

      &:hover{
        color: $primary-color-1;
      }
    }
  }

  .dropdown-item{
    &:focus{
      color:unset !important;
      background-color: unset !important; 
    }

    &:hover{
      color: $primary-color-1;
    }
  }

  .bt-secondary-white{
    color: white;
    background-color: transparent;
    padding: 2px 20px;
    border-radius: 20px;
    border: 2px solid white;  

    &:hover{
      background-color: white;
      color: $primary-color-1; 
      transition: 0.2s; 
    }
  }

  .--white-container{
    background-color:white;
    padding: 20px;
    border: 1px solid rgba(0,0,0, 0.1);
    border-radius: 4px;
  }

  .--back-color-secondary{
    background-color: $primary-color-2;
  }
  
  .--text-white{
    color: white;

  }

  .--reset-link{
    text-decoration: none;
  }

  .--padding-zero{
    padding: 0;
  }

  .--padding-20{
    padding: 20px;
  }

  .--link{
    color: $primary-color-1;
  }

  .text--darkest-grey{
    color: $darkest-grey;
  }

  .text--dark-grey{
    color: $dark-grey;
  }

  .text--grey{
    color: $grey;
  }

  .btn-link{
    color: $primary-color-1;
  
    &:hover{
      color: $primary-color-1;
    }
  }
  
  .form-control.cantidad{
    width: 62px;
  }

  .form-control{
    min-width: 6  0px;
    margin-bottom: 10px;
    
  
    &:focus{
      border-color: $primary-color-3;
      outline: 0;
      box-shadow: 0 0 0 0.2rem #f3a99859;
    }
  }

  .--border-top{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
}
/*----------------End General Classes-------------------*/


/*-----------Auth (login, register, verify, etc)---------*/
.container-full{
  display: flex;
  background-color: white;

  .container-left{
    width: 40%;
    background: linear-gradient(45deg, rgba(239,104,74,1) 0%, rgba(243,169,152,1) 100%);
  }

  .container-right{
    flex-grow: 1;

    .card{
      height: 100vh;
      border: none;

      .card-body{
        flex: none;
        margin-top: auto;
        margin-bottom: auto;

        .login-title{
          margin-bottom: 20px;
        }

        .welcome-message{
          margin-bottom: 30px;
        }

        .forgot{
          padding: 0;
        
          .forgot-pass{
            padding-bottom: 0;
            padding-top: 0;
            float: right;
          }
        }
      }
    }

  }
}
/*--------------End Auth-------------*/


/*-----------Navbar Top-------------*/
.navbar-top{
  background-color: white;
  border-bottom: 1px solid rgba(0,0,0,.0975);
  padding: 0.8rem 1rem;
  height: 70px;
  
  .container-fluid{
    padding: 15px 40px;

      .ml-auto{

          .dropdown-menu{

            min-width:310px;

            &.show{

              display: flex;
            }
          

            .dropdown-container-left{
              a{
                padding: 0.5rem 1.5rem;

                &:hover{
                  color: $primary-color-1;
                }

                &:active{
                  color: $primary-color-1;
                  background-color: #f8f9fa;
                }
              }
            } 

            .dropdown-container-right{

              width: 100%;

              i{
                font-size: 3.5rem;
                color: white;
              }

              p{
                margin: 0;
                margin: 0.5rem 0;
              }

              button{
                margin-top: 0.5rem;
              }
            }
          }
      }
  }

  .cart-link{
    padding: 0.25rem;
    font-size: 1.3rem;
    
    .cant-count{
      right: 9px;
      top: -12px;
      font-size: 0.8rem;
      margin-left: 2px;
      padding: 2px 6.5px 3px 6.5px;
      color: white;
      background-color: orange;
      border-radius: 20px;
      position: relative;
    }

    a{
      color: $primary-color-1;

      &:hover{
        text-decoration: unset;
      }
    }
  }

  .navbar-toggler{
    border: none;

    .navbar-toggler-icon{
      transition: 0.2s;
      background-image: url("data:image/svg+xml,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(239, 104, 74, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
    }

    &:focus{
      outline: none;
    }
  }


  .navbar-collapse{
    order: 4;
    text-align: right;
  }
}
/*-----------End Navbar Top-------------*/


/*------------Page Content----------*/
.wrapper, .mr-auto{

  display: flex;
  align-items: stretch;
  
    /*--------------SideBar-------------*/
  .sidebar {
    min-width:220px;
    max-width: 220px;
    background: white;
    color: $primary-color-1;
    transition: 0.3s;
    border-right: 1px solid rgba(0,0,0,.0975);
    height: calc(100vh - 70px);
    z-index: 1;

    .cart-link{
      padding: 20px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      margin-top: 5px;

      .cant-count{
        margin-right: 2px;
        padding: 1px 7px 3px 7px;
        color: white;
        background-color: orange;
        border-radius: 20px;
        margin-left: -10px;
      }

      .cant-count.mini{
        display: none;
      }


      i{
        color: $primary-color-1;
        font-size: 40px;
      }

      a{
        display: block;
        padding-top: 10px;
        font-size: 1.1em;
        color: $darkest-grey;
        text-decoration: none;
      }
    }

    .fa-warehouse{
      transform: scale(0.8,1);
    }
    
    .dropdown #categories-container{

      .categories{
        padding: 12px 0;

        a.category{
          margin: 0;
          color: white;
          padding: 10px 45px 10px 20px;
          text-align: left;
          font-size: 1.1em;

          &:hover{
            color: $primary-color-1;
          }

          &.activeCat{
            color: $primary-color-1 !important;
            background-color: white !important;

            &:focus{
              color: $primary-color-1 !important;
            }
          }

          &:focus{
            background-color: unset;
            color: white !important;
          }

        }
      }

      .subcategories{
        padding: 12px 0;
        display: none;
        width: 660px;

        a.subcategory{
          margin: 0;
          padding: 9px 20px;
          width: 220px;
          text-align: left;
          font-size: 1em;
          
        }
      }

    }


    .btn-dock{
      padding: 10px 27px;
      display: block;
      margin: 0 auto;
      color: $primary-color-1;
      border:none;
      background-color: unset;
      outline: none;
      position: absolute;
      bottom: 10px;
      left: 140px;
      transition: 0.3s;
    }

    ul.components {
      padding: 10px 0 20px 0;
    }

    ul{
      ul{
        li{
          a{
            font-size: 0.9em;
            padding: 8px;
            padding-left: 35px;
            background: white;
            margin: 0;
          }
        }  
      }
    }
  
    a[data-toggle="collapse"] {
      position: relative;
    }
  
    .dropdown-toggle {

      margin-bottom: 0;
  
      &:after{
        display: block;
        position: absolute;
        top: 52%;
        right: 20px;
        transform: translateY(-50%);
      }
    }

    ul{
      li{
        a{
          text-align: left;
          padding: 5px 10px;
          margin: 10px 0;
          font-size: 1.1em;
          display: block;
          color: $darkest-grey;
          text-decoration: none;

            &:hover{
              color: $primary-color-1;
              background-color: #f8f9fa;
            }

            i{
              margin-right: 10px;
              display: inline-block;
              line-height: 28px;
              margin-right: 10px;
              width: 16px;
              width: 28px;
              height: 28px;
              text-align: center;
            }

            p{
              display: inline-block;
              margin: 0;
            }
        } 

        &.active>a, a[aria-expanded="true"] {
          color: $primary-color-1;
          background: white;
          border-left: 4px solid $primary-color-1;
          padding-left: 6px !important;
        }

      }
    }  
  }

  #sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;

    .btn-dock{
      left: 0px;
      transition: 0.3s;
    }

    .cart-link{

      .cant-count.mini{
        display: initial;
        margin: 0 auto;
      }

      i{
        font-size: 2em;
      }

      .mi-pedido{
        display: none;
      }
    
    }

    ul{

      &.components{
        padding: 0;
      }

      li{
        a{
          padding: 15px 10px;
          text-align: center;
          font-size: 0.85em;

          &[aria-expanded="true"]{
            padding-left: 6px;

            &:after{
              margin-right: 2px;
              margin-left: -2px;
            }
          }

          i{
            margin-right: 0;
            display: block;
            font-size: 1.8em;
            margin-bottom: 5px;
            width: unset;
          }

          p{
            display: none;
            transition: 0.3s;
          }
        }
      }

      ul{
        a{
          padding: 10px 0 !important;
        }
      }
    }

    .dropdown-toggle{

      &:after{
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
      }

    }
  }

  
    /*-------------End Sidebar--------------*/

  #content {
    margin-left: 220px;
    width: 100%;
    padding: 20px;
    min-height: calc(100vh - 70px);
  }

  #content.mini{
    margin-left: 80px;
    transition: 0.3s;
  }

}

.mr-auto{
  display: none;
}

.modal-backdrop{
  display: none !important;
}
/*-----------End Page Content-----------*/

/* ---------------------------------------------------
  MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 767px) {

  .navbar-top{
    height: unset;

    &.sticky-top{
      position: initial !important;
    }

    .container-fluid {
      padding: 0px 15px;
    }

    .cart-link{
      display: initial;
    }
  }

  .ml-auto{

    #navbarDropdown{
      display: none;
    }

    .dropdown-menu{
      min-width: unset !important;
      display: flex;
      margin-top: 20px; 
      
      .dropdown-container-right{
        order:1;
        padding: 10px 8px; 

        .bt-secondary{
          margin-top: 0 !important;
        }

        p{
          margin: 0.6rem 0 !important;
        }
      }

      .dropdown-container-left{
        display: none;
        order:2;
      }
    }
  }

  .mr-auto{
    display: block;
    padding: 0;

    .sidebar{
      width: 100%;
      min-width: unset;
      max-width: unset;
      border: unset;
      height: unset;

      ul.components{
        padding-bottom: 0;
        padding-top: 10px;
      }

      ul li a{
        padding: 10px;

        &:hover{
          background-color: unset;
        }
      }

      ul li.active > a{
        border: none;
        padding: 10px !important;
      }

      ul li > a[aria-expanded=true]{
        border: none;
        padding: 10px !important;
      }

      .dropdown-user{
        margin-top: 10px;
      }
    }
  }

  .wrapper{

    #sidebar {
      display: none;
    }

    #content{
      margin-left: unset;

      &.mini{
        margin-left: unset;
      }
    }


  }


  /*-----------------CATEGORIAS--------------*/

.modal{
  padding: 0 !important;



  .modal-dialog{
      margin: 0;
      max-width: 100%;

    .modal-content{
      width: 100%;
      height: 100vh;
      border: 0;
      border-radius: unset;

      .modal-header{
        padding: 1.8rem;
        background-color: #f5f5f5;

        .modal-title-subcategorias{
          display: none;
        }
      }

      .modal-body{

        padding: 0;

        .categories-responsive a{
          padding: 20px 30px;
          border-bottom: 1px solid rgba(0,0,0,0.1);

          i{
            float: right;
            position: relative;
            top: 4px;
            font-size: 15px;
          }
        }
      }

      .subcategories-responsive{
        display: none;
        position: absolute;
        top: 15px;
        left:0;
        background-color: white;
        width: 100%;

        a{
          padding: 8px 35px;
        }
      }
    }
  }
}

}

@media (max-height: 570px) {
  .wrapper{
    .sidebar{

      overflow-y: scroll;
      overflow-x: hidden;

        &.active{
          .btn-dock{
            position: initial;
            padding: 10px 0 20px 0;
          }
        }

      .btn-dock{
        bottom: unset;
        padding: 10px  20px 20px 0px;
        left: unset;
        right: 0;
      }
    }
  }
}

@media (max-width: 992px) {
  .dropdown #categories-container{


    .subcategories{

      width: 460px !important;
      overflow-x: scroll;
    }

  }
}