@import "https://fonts.googleapis.com/css?family=Lato:300,400,700";

.aa-dataset-1 p{
    margin-bottom: 0 !important;
}

.aa-input-container {
    display: inline-block;
    position: relative;
}
.aa-input-search {
    width: 400px;
    padding: 8px 28px 8px 16px;
    border: 2px solid #e4e4e4;
    border-radius: 20px;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    color: #333;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.aa-input-search::-webkit-search-decoration,
.aa-input-search::-webkit-search-cancel-button,
.aa-input-search::-webkit-search-results-button,
.aa-input-search::-webkit-search-results-decoration {
    display: none;
}
.aa-input-search:focus {
    outline: 0;
    border-color: #F3A998;
}
.aa-input-icon {
    height: 16px;
    width: 16px;
    position: absolute;
    top: 50%;
    right: 16px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    fill: #e4e4e4;
}
.aa-hint {
    color: #e4e4e4;
}
.aa-dropdown-menu {
    background-color: #fff;
    border: 2px solid rgba(228, 228, 228, 0.6);
    border-top-width: 1px;
    font-family: "Lato", sans-serif;
    width: 400px;
    margin-top: 10px;
    box-shadow: 4px 4px 0 rgba(241, 241, 241, 0.35);
    font-size: 14px;
    border-radius: 4px;
    box-sizing: border-box;
    word-wrap: break-word;
}
.errorSearch {
    padding: 12px 10px 0px 10px;
}
.aa-suggestion {
    padding: 12px;
    border-top: 1px solid rgba(228, 228, 228, 0.6);
    cursor: pointer;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    /* display: -webkit-box;
  display: -ms-flexbox;
  display: flex; */
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.aa-suggestion:hover,
.aa-suggestion.aa-cursor {
    background-color: rgba(241, 241, 241, 0.65);
}
.aa-suggestion > span:first-child {
    color: #333;
}
.aa-suggestion > span:last-child {
    text-transform: uppercase;
    color: #a9a9a9;
}
.aa-suggestion span em {
    font-style: normal;
    background-color: rgba(243, 169, 152, 0.6);
    padding: 2px 0 2px 2px;
}

.algolia-result {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.algolia-thumb {
    max-width: 35px;
    max-height: 35px;
}

.algolia-details {
    color: #919191;
}

.ais-hits--item em {
    background-color: rgba(58, 150, 207, 0.3);
}

.ais-hits{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;
}

.ais-hits--item{
    padding: 1rem;
}


/*-------Pagination-------*/

#pagination{
    display: flex;
    justify-content: center;
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}

#pagination .ais-pagination{
    box-shadow: unset;
    padding: 0;
    border:none;
}

.ais-pagination--item:first-child .ais-pagination--link{
    margin-left: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.ais-pagination--item:last-child .ais-pagination--link{
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.ais-pagination .ais-pagination--link{
    padding: 0.5rem 0.75rem;
    border: 1px solid #ccd0d3;
    margin-left: -1px;
    line-height: 1.25;
    width: auto;
}

.ais-pagination .ais-pagination--item{
    padding: 0;
    border-radius: unset;
    width: auto;
}

.ais-pagination .ais-pagination--item__active{
    background-color: #EF684A;
}

.ais-pagination .ais-pagination--item__active .ais-pagination--link{
    border-color: #EF684A;
}

.ais-pagination .ais-pagination--item__active:hover{
    background-color: #EF684A;
}

.ais-pagination .ais-pagination--item__active .ais-pagination--link:hover{
    color: white;
}

.ais-pagination .ais-pagination--link:hover{
    z-index: 2;
    color: #d93713;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

/*-----------------------*/

.ais-body select.ais-sort-by-selector{
    font-size: 1rem;
}

.ais-refinement-list .ais-refinement-list--label, .ais-menu--list .ais-menu--link{
    color: #EF684A;
}

.ais-refinement-list .ais-refinement-list--count, .ais-menu--list .ais-menu--count{
    color: #EF684A;
    background: rgba(245, 200, 190, 0.25);
}

.ais-refinement-list .ais-refinement-list--label:hover, .ais-menu--list .ais-menu--link:hover {
    color: #9b1e01;
}

.ais-hits__empty{
    margin-top:1.5rem;
    margin-left:4.5rem;
    margin-right:1.5rem;
    display: block;
}


#breadcrumb .ais-breadcrumb--root .ais-breadcrumb--home{
    color: #EF684A;
}

#filtros-open{
    right: 0;
    display: none;
}

.filtros-hide{
    display: block;
}

#filtros-close{
    display: none;
}
   
.apply-filters{
    color: white;
    background-color: #EF684A;
    margin: 0;
    padding: 0;
    border: unset;
    padding: 10px 0px;
    position: fixed;
    bottom: 0;
    right: -70%;
    width: 70%;
    transition: 0.4s;
}

   
.apply-filters-open{
    right: 0;
    display: none;
}



@media (max-width: 991px) {
        
    .ais-hits__empty{
        margin-left:1.5rem;
    }
    
}


@media (max-width: 768px) {
        
    #filtros{
        flex:35%;
    }

    .hits-container{
        flex: 65%;
    }
    
}


@media (max-width: 575px) {
    .filtros{
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        position: fixed;
        background-color: white;
        height: 100vh;
        top: 0;
        overflow-y: scroll;
        right: -70%;
        width: 70%;
        transition: 0.4s;
    }

    .filtros-open{
        right: 0;
        display: block;
    }

    .bg-filtros{
        display: none;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        position: fixed;
        background-color: black;
        opacity: 0.4;
    }

    #filtros-close{
        display: block;
        background-color: unset;
        border: unset;
        font-size: 22px;
    }

    #filtros-open{
        display: inline-block;
        padding: 2px 20px;
        border-radius: 4px;
    }

       
    .apply-filters-open{
        right: 0;
        display: block;
    }
}


@media (max-width: 700px) {

    .aa-dropdown-menu {
        width: 100%;
    }
   

    .buscador{
        flex-grow: 1;
        margin: 0 20px;
    }

    .algolia-autocomplete{
        width: 100%;
    }   
    
    .aa-input-container{
        width: 100%;
    }

    .aa-input-search {
        width: 100%;
    }
    .aa-dropdown-menu {
        width: 100%;
    }
 
}

@media (max-width: 480px) {
    .buscador{
        order: 3;
        margin-top: 10px;

    }
    
    .cart-menu{
        order: 2;
        margin-left: 40px;
    }
}


}