.products.d-flex {
  flex-wrap: wrap;
}

.products .card {
  width: 240px;
}

.products .card a {
  text-align: center;
}

.products .card img {
  padding: 5px;
  max-height: 150px;
  max-width: 150px;
}

.product .product-left {
  margin: 0 auto;
}

.product .product-right {
  margin: 0 auto;
  margin-top: 5%;
}

.product .product-desc {
  font-size: 1.1em;
}

.product .product-price {
  font-size: 2.2em;
}

.product .cant-label {
  margin-left: 15px;
}

.product .product-btn {
  margin-top: 2%;
}

.product .product-form {
  margin-top: 6%;
}

.product .product-form .product-btn {
  margin-top: 2%;
  padding: 6px 40px;
  font-size: 1.1em;
}

.product #cantidad-producto {
  margin-left: 15px;
}

.product .also-like {
  margin-top: 5%;
}

.product .also-like .d-flex {
  flex-wrap: wrap;
}

.product .also-like h3 {
  margin: 1% 0;
}

.product .also-like .card {
  width: 140px;
}

.product .also-like .card .card-body {
  padding: 0.6rem;
}

@media (min-width: 576px) {
  .product .product-right {
    margin-top: 0;
  }
}

