.products.d-flex {
  flex-wrap: wrap;
}

.products .card {
  width: 240px;
}

.products .card a {
  text-align: center;
}

.products .card img {
  padding: 5px;
  max-height: 150px;
  max-width: 150px;
}

.product .product-left {
  margin: 0 auto;
}

.product .product-right {
  margin: 0 auto;
  margin-top: 5%;
}

.product .product-desc {
  font-size: 1.1em;
}

.product .product-price {
  font-size: 2.2em;
}

.product .cant-label {
  margin-left: 15px;
}

.product .product-btn {
  margin-top: 2%;
}

.product .product-form {
  margin-top: 6%;
}

.product .product-form .product-btn {
  margin-top: 2%;
  padding: 6px 30px;
  font-size: 1.1em;
}

.product #cantidad-producto {
  margin-left: 15px;
}

.product .also-like {
  margin-top: 5%;
}

.product .also-like .d-flex {
  flex-wrap: wrap;
}

.product .also-like h3 {
  margin: 1% 0;
}

.product .also-like .card {
  max-width: 200px;
  margin: 0 auto;
}

.product .also-like .card .card-body {
  padding: 0.6rem;
}

@media (min-width: 576px) {
  .product .product-right {
    margin-top: 0;
  }
}

@media (max-width: 460px) {
  .product .col-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.cart {
  max-width: 550px;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.cart .cart-row .cart-product-image {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.cart .cart-row .cart-product-image img {
  max-height: 110px;
  max-width: 130px;
}

.cart .cart-row .cart-product-name a {
  cursor: pointer;
}

.cart .cart-row .cart-product-name a:hover {
  text-decoration: none;
}

.cart .cart-row .remove-btn button {
  padding: 0;
  padding-left: 2px;
  margin: 0;
  border: 0;
  background-color: transparent;
  color: #747980;
}

.cart .cart-row .remove-btn button:hover {
  transition: 0.2s;
  color: #EF684A;
}

@media (max-width: 767px) {
  .cart {
    margin: 0 auto;
  }
}

